*{
    padding: 0;
    margin: 0;
}
#home{
    background-color: #039090;
}
#Programme{
    background-color: #039090;
}
#lo{
    height: 50ps;
    width: 50px;
}
#row1{
    background-color: #effefe;
}
#i1{
    width: 100px;
    height: 100px;
}
footer{
    background-color: #039090;
}